[Unit]
Description=Run LetsEncrypt Certificate Renewal Weekly
Requires=letsencrypt-renewal.service

[Timer]
OnCalendar=weekly
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target